@{
    ViewData["Title"] = "About This WebPage";
}
<h2>@ViewData["Title"]</h2>
<h3>1.Music,Genre and Singer Model using Entity Framework DB context to manage data.</h3>
<h3>2.SportMusic using MongoDB to manage data</h3>
<h3>3.Comment out All Microsoft related Links in the HomePage Index view</h3>
<h3>4.Add some simple JQuery animation function at the beginning of _Layout but comment out right now</h3>
<h3>5.Using Azure Cosmos DB to implement MongoDB for SportsMusic CRUD Operation</h3>


<p>Use this area to provide additional information.</p>
