@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <abbr title="Phone">P:</abbr>
    780.566.5484
</p>

<address>
    <strong>Email:</strong> <a href="mailto:yu.jiayi@hotmail.com">yu.jiayi@hotmail.com</a><br />
</address>
